xatlas
numpy 
scipy
opencv-python
nltk
ninja
imageio-ffmpeg
typed-argument-parser
autocorrect
openai
huggingface_hub
pandas
tensorboard
diffusers==0.15.0
sentencepiece
tqdm
rembg
tensorboardX
protobuf
torch-ema
transformers
trimesh
lovely-tensors
matplotlib
PyMCubes
scikit-learn
accelerate
torchvision
rich
imageio