absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate.git@bfa74e51d2af08221f5787d281d681ca9bceddd2
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
autocorrect==2.6.1
Babel==2.10.3
bcrypt==4.0.1
bitsandbytes==0.38.1
bleach==5.0.1
blobfile==2.0.2
brotlipy==0.7.0
cachetools==5.3.0
click==8.1.3
cmake==3.26.3
commandlines==0.4.1
cycler==0.11.0
Cython==0.29.35
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
einops==0.6.1
entrypoints==0.4
fastjsonschema==2.16.2
ffmpeg-python==0.2.0
filetype==1.2.0
fire==0.5.0
Flask==2.2.5
Flask-Cors==3.0.10
Flask-JWT-Extended==4.5.2
flatbuffers==23.5.26
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
gast==0.4.0
google-auth==2.18.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.54.2
hsh==1.1.0
huggingface-hub==0.14.1
humanize==4.6.0
imageio-ffmpeg==0.4.8
importlib-metadata==5.0.0
importlib-resources==5.10.0
ipykernel==6.16.1
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonify==0.5
jsonschema==4.16.0
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core==4.11.2
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.1
jwt==1.3.1
keras==2.11.0
kiwisolver==1.4.4
libclang==16.0.0
lit==16.0.5
llvmlite==0.39.1
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
mistune==2.0.4
more-itertools==9.1.0
moviepy==1.0.3
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==2.6.3
nltk==3.8.1
notebook==6.5.1
notebook_shim==0.2.0
numba==0.56.4
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
openai==0.27.7
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
proglog==0.1.10
prometheus-client==0.15.0
protobuf==3.19.6
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycryptodomex==3.17
PyJWT==2.7.0
PyMatting==1.1.8
PyMySQL==1.0.3
pyparsing==3.0.9
pyre-extensions==0.0.23
pyrsistent==0.18.1
python-dateutil==2.8.2
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==24.0.1
regex==2023.5.5
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.9
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.1
Send2Trash==1.8.0
shap-e @ git+https://github.com/openai/shap-e.git@2d3831ffe0b0771c4dc27e49c82411258c3f303c
sniffio==1.3.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.16.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
tornado==6.2
transformers==4.29.2
typing-inspect==0.8.0
waitress==2.1.2
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.3
widgetsnbextension==4.0.3
wrapt==1.15.0
xformers==0.0.16
xxhash==3.2.0
yarl==1.9.2
zipp==3.10.0
